/AWS_with_Gyazo/bin
/awsSyncCheck/bin
/AWSwithGyazo_FormApp/bin
/ClipBoardCopy/ClipBoardCopy/bin
/ConnectTest/bin
/moveFiles/bin
/AWS_with_Gyazo/obj
/awsSyncCheck/obj
/AWSwithGyazo_FormApp/obj
/ClipBoardCopy/ClipBoardCopy/obj
/ConnectTest/obj
/moveFiles/obj
/.vs
